@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Sagnik's WEB page</h1>
    <p>In details <a href="https://www.google.com/search?q=brainware+university&rlz=1C1CHBF_enIN1131IN1131&oq=brainware+U&gs_lcrp=EgZjaHJvbWUqDwgAECMYJxjjAhiABBiKBTIPCAAQIxgnGOMCGIAEGIoFMgwIARAuGCcYgAQYigUyBggCEEUYQDIGCAMQRRg5MgcIBBAAGIAEMgcIBRAAGIAEMg0IBhAAGIMBGLEDGIAEMgcIBxAAGIAE0gEJNTkwNWowajE1qAIJsAIB8QVS4DKd4ORehQ&sourceid=chrome&ie=UTF-8">Click me</a>.</p>
</div>
 